$roboto: 'Roboto', sans-serif;
$textLightColor: #ffffff;
$textDarkColor: #000000;
$textPsColor: #545454;
$textUnderColor: #ff6b01;
$buttonColor: #ff6b01;
$buttonHoverColor: #ff6b08;
$svgDefault: #ababab;
$svgHover: #fcfcfc;
