<header>
  <section class="home">
    <div class="container library-container">
      <div class="header">
        <a href="#" class="logo">
          <svg width="24" height="24">
            <use xlink:href="./svg/sprite.svg#logo"></use>
          </svg>
          <span class="text-logo">Filmoteka</span>
        </a>
        <nav>
          <ul class="nav">
            <li class="nav-list"><a href="./index.html" class="nav-link">HOME</a></li>
            <li class="nav-list"><a href="#" class="nav-link active">MY LIBRARY</a></li>
          </ul>
        </nav>
      </div>
      <div class="library">
        <input type="radio" name="library" id="check-watch" class="hidden" checked>
        <label for="check-watch" class="library-label watched">WATCHED</label>
        <input type="radio" name="library" id="check-queue" class="hidden">
        <label for="check-queue" class="library-label queue">QUEUE</label>
      </div>
    </div>
  </section>
</header>