<header>
  <section class="home">
    <h1 class="hidden">films</h1>
    <div class="container home-container">
      <div class="header">
        <a href="./" class="logo">
          <svg width="20" height="20">
            <use xlink:href="./svg/sprite.svg#logo"></use>
          </svg>
          <span class="text-logo">Filmoteka</span>
        </a>
        <nav>
          <ul class="nav">
            <li class="nav-list"><a href="./" class="nav-link active">HOME</a></li>
            <li class="nav-list"><a href="./library.html" class="nav-link">MY LIBRARY</a></li>
          </ul>
        </nav>
      </div>
      <form class="search">
        <label class="search-label">
          <input type="text" class="search-input" name="search">
          <button type="submit" class="search-svg">
            <svg width="12" height="12">
              <use xlink:href="./svg/sprite.svg#search"></use>
            </svg>
          </button>
        </label>

        <p class="search-error"></p>
      </form>
    </div>

  </section>
</header>