.title-modal {
  font-size: 12px;
  color: $textDarkColor;
  margin-top: 8px;
}
.list-films {
  display: grid;
  grid-template: 1fr / 1fr;
  justify-items: center;
  row-gap: 20px;
  padding: 20px 20px 0;
  @media screen and (min-width: 768px) {
    grid-template: 1fr / 1fr 1fr 1fr;
    column-gap: 20px;
    justify-items: start;
    padding: 20px 0 0;
  }
  img {
    width: 100%;
    height: auto;
  }
  .films {
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
  .title-film {
    font-size: 0.625rem;
    line-height: 133%;
    color: $textDarkColor;
    padding-top: 10px;
    @media screen and (min-width: 768px) {
      padding-top: 0.35rem;
    }
  }
  .second-title {
    padding-top: 3px;
  }
  p {
    color: $textUnderColor;
  }
}
.pages {
  margin: 0 auto;
}
.pagination {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  .page-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    padding: 40px 0;
  }
  button,
  li {
    margin: 0;
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:active {
      transform: scale(0.9);
    }
  }

  .prev {
    background-color: #f7f7f7;
    background-image: url('../svg/arrow-left.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  .next {
    background-color: #f7f7f7;
    background-image: url('../svg/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  .page {
    font-size: 12px;
    background: transparent;
    color: $textDarkColor;
    &.active {
      background: $buttonHoverColor;
    }
    &:hover {
      background: $buttonHoverColor;
    }
  }
}
